/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
!/cordova
/cordova/*
!/cordova/config.xml
!/cordova/plugins
/cordova/plugins/*
!/cordova/plugins/fetch.json
!/cordova/keytool hash facebook login.txt
