<md-content flex class="main bg-light-gray" layout-sm="column" layout-gt-md="column" layout-fill ng-cloak>
    <div layout-gt-sm="row" layout-xs="column" layout-fill>
        <div flex-xs flex-gt-sm="40" layout="column" style="">
            <md-card ng-cloak>
                <md-toolbar class="md-primary">
                    <div class="md-toolbar-tools" layout="row">
                        <span flex>
                        </span>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-icon-button" aria-label="Message {{user.profile.name}}">
                                <my-icon icon="message-text-outline"></my-icon>
                            </md-button>
                            <md-menu class="no-p">
                                <md-button aria-label="Open Menu" ng-click="openMenu($mdOpenMenu, $event)" class="md-icon-button">
                                    <my-icon md-menu-origin icon="dots-horizontal"></my-icon>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item>
                                        <md-button ng-click="logout()">
                                            <my-icon class="text-muted" icon="logout"></my-icon>
                                            Report
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <div layout="row" layout-align="center center ">
                        <div flex="75" class="square-img-container img-circle img-thumbnail ">
                            <img class="img-circle" ng-src="{{::user.profile.avatar}} " />
                        </div>
                    </div>
                    <div class="text-muted ">
                        <p class="md-title ">
                            <my-icon icon="account" class="md-primary md-hue-1 mr25 "></my-icon>{{::user.profile.name}} </p>
                        <p>
                            <my-icon icon="map-marker" class="md-primary md-hue-1 mr25 "></my-icon>Lives in {{user.profile.location}}</p>
                        <p>
                            <my-icon icon="book" class="md-primary md-hue-1 mr25 "></my-icon>Favorite Book of the bible: <b>Genesis</b></p>
                        <p>
                            <my-icon icon="bookmark" class="md-primary md-hue-1 mr25 "></my-icon>Favorite Verse of the bible: <b>John 3:16</b></p>
                        <p>
                            <my-icon icon="bookmark-outline" class="md-primary md-hue-1 mr25 "></my-icon>Favorite Parable: <b>The Prodigal Son</b></p>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div flex-xs flex-gt-sm="60" layout="column" style="overflow: auto" layout-fill>
            <div layout="column" style="overflow: auto;">
                <md-card layout="row" layout-xs="column">
                    <md-button md-no-ink class="md-primary no-m pl10 pr10" style="line-height: 50px; border-radius: 0px;" ui-sref-active="md-raised" ui-sref=".activities">Activity</md-button>
                    <md-button md-no-ink class="md-primary no-m pl10 pr10" style="line-height: 50px; border-radius: 0px;" ui-sref-active="md-raised" ui-sref=".favorites">Favorites</md-button>
                    <md-button md-no-ink class="md-primary no-m pl10 pr10" style="line-height: 50px; border-radius: 0px;" ui-sref-active="md-raised" ui-sref=".taps">Posts tapped into</md-button>
                </md-card>
                <md-content class='no-bg' ui-view layout-fill>
                </md-content>
            </div>
        </div>
    </div>
</md-content>
