<div layout="row" flex layout="row" layout-fill layout-wrap layout-align="center start" ng-controller="MessagesCtrl">
    <span flex="20" flex-md="10" flex-sm="0"></span>
    <div flex-gt-md="60" flex-md="80" flex="100" class="main content-feeds bg-light-gray" layout-fill layout="column" style="position: relative">
      <md-card style="height: 100%; max-height: 100%; position: relative; overflow: auto">
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{::messagingUser.avatar || 'dist/img/guest.png'}}"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{::messagingUser.name}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-content class="p5">
          <div ng-repeat="message in messages track by message.id" class="mb15">
            <div layout="row" flex layout-fill class="">
              <div flex="10" flex-xs="15">
                <div class="square-img-container">
                  <img class="" ng-src="{{::message.user.avatar}}">
                </div>
              </div>
              <div flex layout="column" class="ml5">
                <div>
                  <a class="md-body-2" style="font-weight: bolder; color: #2980b9" ui-sref="web.app.dashboard.user({id: message.user.username || message.user.hash_id})">{{::message.user.name}}</a>
                </div>
                <div class="">
                  <span class="md-body-1">
                    {{::message.text}}
                  </span>
                  <span class="md-caption">
                      <time am-time-ago="::user.created_at"></time>
                  </span>
                </div>

              </div>
            </div>
          </div>

        </md-content>
        <md-card-footer layout="row">
          <div flex="80">
            <input class="form-control" type="text" ng-model="inputMessage" placeholder="Send a message...">

          </div>
          <div flex>
            <md-button ng-click="sendMessage()">Send</md-button>
          </div>
        </md-card-footer>
      </md-card>
    </div>
    <span flex="20" flex-md="10" flex-sm="0"></span>
</div>
