<div flex layout="column" layout-fill layout-align="center center" class="entrance-bg" style="overflow: auto; padding-top: 56px">
    <div app-toolbar-no-login></div>
    <div flex layout="column" layout-fill layout-align="center center" style="overflow: auto;">
        <md-card class="no-m" style="width: 100%; border-radius: 0px;">
            <md-card-content layout="row" layout-align="center center">
                <div flex="20" flex-xs="75" layout="column" layout-align="center center">
                    <img src="img/testify_motto.png">
                </div>
            </md-card-content>
        </md-card>
        <div layout="row" style="width: 100%" layout-wrap layout-align="center center">
            <md-button flex="20" flex-xs="80" class="md-raised" ui-sref="web.app.signup">join</md-button>
            <md-button flex="20" flex-xs="80" class="md-raised" ui-sref="web.app.login">login</md-button>
            <md-button flex="20" flex-xs="80" class="md-raised" ui-sref="web.app.dashboard.home">take a tour</md-button>
        </div>
    </div>
</div>
