<div layout="row" class="pt10" flex layout="row" layout-fill layout-wrap layout-align="center start" ng-controller="PostsCtrl">
    <span flex-xl="25" flex-lg="20"  flex-md="10" flex-sm="15" flex-xs="0"></span>
    <div flex-xl="50" flex-lg="60"  flex-md="80" flex-sm="70" flex-xs="100" class="main content-feeds bg-light-gray" layout-fill layout="column" style="position: relative">
        <div ui-view style="height: auto">

        </div>
    </div>
    <span flex-xl="25" flex-lg="20"  flex-md="10" flex-sm="15" flex-xs="0"></span>
</div>
