<div layout="row" layout-wrap ng-controller="ProfileEditCtrl" style="width: 100%">
  <style>
    label {
      color: #555;
    }
  </style>
  <div flex="100" flex-gt-sm="50" layout="column" style="display: block;">
    <div>
      <md-card>
          <md-card-content>
            <div layout="row" layout-align="center center">
              <div flex="50" flex-xs="80" class="img-circle img-thumbnail square-img-container">
                <img class="img-circle" ng-src="{{picFile ? croppedDataUrl : false || user.avatar || 'img/guest.png' }} " />
              </div>
            </div>
          </md-card-content>
          <div ng-show="picFile" style="height: 300px; " ng-model="picFile " ngf-pattern="image/* " class="cropArea ">
            <img-crop image="picFile | ngfDataUrl " result-image="croppedDataUrl " result-image-quality="1" ng-init="croppedDataUrl='' ">
            </img-crop>
          </div>
          <md-card-actions layout="row" layout-align="center center">
            <md-button class="md-raised md-primary no-text-transform no-shadow" ngf-select ng-model="picFile " accept="image/* ">
              <my-icon icon="file-image"></my-icon>
              Upload profile picture
            </md-button>
            <md-button ng-show="picFile" class="md-raised md-accent md-hue-1 no-shadow no-text-transform" ng-click="uploadAvatar(croppedDataUrl) " ng-disabled="uploading">
              <span ng-hide="uploading">
                        <my-icon icon="check"></my-icon>
                        	<span>Save</span>
              </span>
              <span ng-show="uploading">
	                        <md-progress-circular class="md-primary md-hue-1" md-mode="indeterminate" md-diameter="40px"></md-progress-circular>

	                    </span>
            </md-button>
            <md-button ng-show="picFile" class="md-raised md-accent no-shadow no-text-transform" ng-click="picFile = '' ">
              <my-icon class="text-muted" icon="close"></my-icon>
              Cancel
            </md-button>
          </md-card-actions>
      </md-card>
    </div>
    <div>
      <md-card>
        <md-card-content>
          <div ng-show="section_about_me">
            <h3>About Me</h3>
            <div class="form-group">
              <label>Location</label>
              <input class="form-control " type="text" ng-model="user_profile.location">
            </div>
            <div class="form-group">
              <label>Favourite Book</label>
              <input class="form-control " type="text" ng-model="user_profile.profile.favorite_book">
            </div>
            <div class="form-group">
              <label>Favourite Verse</label>
              <input class="form-control " type="text" ng-model="user_profile.profile.favorite_verse">
            </div>
            <div class="form-group">
              <label>Favourite Parable</label>
              <input class="form-control " type="text" ng-model="user_profile.profile.favorite_parable">
            </div>
            <div class="form-group">
              <label>Denomination</label>
              <input class="form-control " type="text"  ng-model="user_profile.profile.denomination">
            </div>

            <div class="form-group">
              <md-button class="md-accent md-hue-1 md-raised" ng-click="saveAboutInfo({location: user_profile.location, favorite_book: user_profile.profile.favorite_book, favorite_verse: user_profile.profile.favorite_verse, favorite_parable: user_profile.profile.favorite_parable, denomination: user_profile.profile.denomination})">Save</md-button>
            </div>

          </div>
          <div ng-hide="section_about_me" layout="row">
            <h4 flex="90" class="mt15">Update Profile</h4>
            <md-button ng-click="section_about_me = true">
              <my-icon class="text-muted" icon="pencil"></my-icon>
            </md-button>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <div flex="100" flex-gt-sm="50" layout="column" style="display: block;">
    <div>
      <md-card>
        <md-card-content>
          <div ng-show="section_account">
            <h3>Account</h3>
            <div class="form-group">
              <label>First Name</label>
              <input class="form-control " type="text" ng-model="user_profile.first_name">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input class="form-control " type="text" ng-model="user_profile.last_name">
            </div>
            <div class="form-group">
              <label>Username</label>
              <input class="form-control " type="text" ng-model="user_profile.username">
            </div>
            <div class="form-group">
              <md-button class="md-accent md-hue-1 md-raised" ng-click="saveAccountInfo({first_name: user_profile.first_name, last_name: user_profile.last_name, username: user_profile.username})">Save</md-button>
            </div>

          </div>
          <div ng-hide="section_account" layout="row">
            <h4 flex="90" class="mt15">Edit Account</h4>
            <md-button ng-click="section_account = true">
              <my-icon class="text-muted" icon="pencil"></my-icon>
            </md-button>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div>
      <md-card>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h3>Preferences</h3>
          </div>
        </md-toolbar>
        <md-card-content>
          <label>Messaging</label>
          <md-switch class="md-hue-1" ng-model="allowMessaging" ng-change="onMessagingChange(allowMessaging)" aria-label="Toggle messaging">
            Turn on messaging
          </md-switch>
        </md-card-content>
      </md-card>
    </div>
    <div>
      <md-card>
        <md-card-content>
          <div ng-show="section_password">
            <h3>Change password</h3>
            <div class="form-group">
              <label>Old password</label>
              <input class="form-control" placeholder="Old password" type="password" ng-model="password.oldPassword">
            </div>

            <div class="form-group">
              <label>New password</label>
              <input class="form-control" placeholder="New password" type="password" ng-model="password.newPassword">
            </div>

            <div class="form-group">
              <label>New password</label>
              <input class="form-control mb10" placeholder="New password again" type="password" ng-model="password.newPassword1">

            </div>

            <md-button class="no-text-transform md-accent md-hue-1 md-raised" ng-click="changePassword()">
              <my-icon icon="check"></my-icon>
              Save
            </md-button>
          </div>
          <div ng-hide="section_password" layout="row">
            <h4 flex="90" class="mt15">Change password</h4>
            <md-button ng-click="section_password = true">
              <my-icon class="text-muted" icon="pencil"></my-icon>
            </md-button>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
