<md-content class="login-bg" layout-fill flex ng-controller="LoginCtrl">
    <div app-toolbar-no-login></div>
    <div flex layout-fill layout="row" layout-align="center center" style="height: auto; padding-top: 64px;">
        <md-card flex="30" flex-xs="95" flex-sm="60" flex-md="50" style="overflow: hidden">
            <md-toolbar class="md-hue-2" layout="row" layout-align="center center">
                <h3>Forgot password</h3>
            </md-toolbar>
            <md-card-content>
                <div layout="column">
                    <form novalidate name="loginForm" ng-submit="loginForm.$valid && submitLogin()">
                        <div class="input-group mb20">
                            <div class="input-group-addon">
                                <my-icon class="text-muted" style="line-height: 0px" icon="email-outline"></my-icon>
                            </div>
                            <input placeholder="Email" class="form-control input-lg" type="text" ng-model="loginDetails.user" />
                        </div>

                        <div layout="column">
                            <md-button class="md-raised md-primary no-shadow md-hue-2" ui-sref="web.app.signup">
                                <my-icon icon="lock-open-outline"></my-icon>
                                Retrieve password
                            </md-button>
                        </div>
                    </form>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
