<div ng-cloak layout="row" layout-padding>
    <div layout="row" layout-align="end center" flex>
        <md-autocomplete placeholder="Search" flex style="color: #000;" md-min-length="2" md-delay="1000" md-selected-item="selectedItem" md-search-text="query" md-items="person in searchRepo(query)" md-item-text="person.name">
            <md-item-template>
                <span layout="row" class="item-title">
                    <div class="square-img-container p5 mr5" style="width: 48px; height: 48px;">
                        <img ng-src="{{person.avatar || 'dist/img/guest.png'}}" alt="{{person.name}}" />
                    </div>
                    <span class="item" ng-cloak>
                      {{person.name}}
                    </span>
                </span>
            </md-item-template>
            <md-not-found>
                No matches found.
            </md-not-found>
        </md-autocomplete>
        <!-- <md-button class="md-icon-button no-m" ng-click="ui.toggleSearchBox()">
            <my-icon icon="add"> </my-icon>
        </md-button> -->
    </div>
</div>
