<div ng-if="user.authenticated" style="position: relative" ng-controller="TComposerCtrl">
    <form novalidate>
        <md-card style="overflow: visible">
            <md-divider></md-divider>
            <div class layout="column">
                <!-- <div flex layout="row" class="p10">
                    <div class="square-img-container mr10" style="width: 40px; height: 40px;">
                        <img class="img-circle" ng-src="{{ user.avatar || 'dist/img/guest.png'}}">
                    </div>
                    <span class="md-body-1 text-muted" style="font-weight: bolder; line-height: 40px;">{{ user.name }}</span>
                </div> -->

                <md-card class="category-modal-anim" ng-show="showSelectCatPopup" style="position: absolute; top: 0px; right: 0px; color: black; width: auto; z-index: 25">
                    <md-card-content class="pl5 pr5 pb5 pt0" layout="column">
                        <div layout="column" style="height: 270px; width: 280px; overflow-y: auto" class="pt10">
                            <div layout="row" layout-wrap>
                              <span flex="50" ng-repeat="c in categories">
                                <md-checkbox md-no-ink  ng-click="catsClick(c)" ng-checked="catsExists(c)" class="md-warn md-hue-1">
                                    <span class="md-body-1">{{::c.name}}</span>
                                </md-checkbox>
                              </span>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row" layout-align="center center" class="pt5">
                            <md-button aria-label="Done" class="md-fab md-mini md-accent md-hue-1" ng-click="toggleCatPopup()">
                                <my-icon icon="check"></my-icon>
                            </md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <md-card-content layout="row" class="p15" style="background: #FAFAFA">
                <style type="text/css">
                    .emojionearea {
                        margin-bottom: 20px;
                        box-shadow: none !important;
                        border-radius: 0px;
                    }
                    .emojionearea-editor {
                        min-height: 80px !important;
                    }
                </style>
                <div layout="row" flex="auto">
                    <div class="square-img-container mr5" style="width: 40px; height: 40px;">
                        <img class="" ng-src="{{ user.avatar || 'dist/img/guest.png'}}">
                    </div>
                </div>

                <div layout="column" flex="grow">
                    <textarea style="display: none" id="tComposerInput"></textarea>
                </div>
            </md-card-content>

            <div ng-show="composingPost">
                <div class="pl10 pr10 pt10" layout="row" layout-wrap>
                    <span class="label label-primary mr5 mt5 label-cats-anim" ng-repeat="c in selectedCategories">
                        {{::c.name}}
                    </span>
                    <span class="label label-danger mr5 mt5" ng-if="selectedCategories.length == 0">
                        No category selected
                    </span>
                    <span class="label label-default mt5" style=" cursor: pointer" ng-click="toggleCatPopup()">
                    <md-tooltip md-delay="400" md-direction="top" md-autohide="true">
                      Select categories
                    </md-tooltip>
                        <span style="font-weight: bolder">+</span>
                    </span>
                </div>
                <div class="images-box" layout="row" layout-wrap>
                    <div flex="33" flex-xs="50" layout="column" ng-repeat="img in files track by $index">
                        <md-card flex class="bg-light-gray" style="position: relative" layout="row" layout-align="center center">
                            <md-button class="md-icon-button" md-no-ink aria-label="Remove picture" style="color: white; text-shadow: 0px 1px 1px #000; position: absolute; top: 0px; left: 0px; z-index: 10;" ng-click="removePicture($index)">
                                <my-icon icon="close"></my-icon>
                            </md-button>
                            <div flex class="square-img-container">
                                <img ngf-src="img || 'dist/img/testify.png'" ngf-no-oject-url="true" />
                            </div>
                            <md-progress-circular class="md-primary md-hue-3 composer-img-upload-progress" md-mode="determinate" md-diameter="50px" ng-hide="img.complete || img.progress == 0" value="{{img.progress}}"></md-progress-circular>
                        </md-card>
                    </div>
                </div>
                <md-button class="md-primary md-hue-2 md-raised no-shadow no-text-transform" accept="image/*" ngf-keep="'distinct'" ngf-select ngf-max-size="'2MB'" ng-model="files" multiple="multiple">
                    <my-icon icon="camera"></my-icon>

                    <md-tooltip md-delay="400" md-direction="down" md-autohide="true">
                        2MB max image size
                    </md-tooltip>
                </md-button>
                <md-divider></md-divider>
                <div class="" layout="row">
                    <span flex></span>
                    <md-switch name="anonymous" aria-label="Post anonymously" class="text-muted md-caption" ng-model="anonymous">
                        Post anonymously
                        <md-tooltip md-delay="400" md-direction="down" md-autohide="true">
                            Make this post anonymous
                        </md-tooltip>
                    </md-switch>
                    <div layout="row" class="pt10 pb10">
                      <md-button class="md-primary md-hue-2 md-fab md-mini mt0 mb0" ng-click="::toggleCatPopup()">
                          <my-icon icon="tag-multiple"></my-icon>
                          <md-tooltip md-delay="400" md-direction="down" md-autohide="true">
                              Select categories
                          </md-tooltip>
                      </md-button>
                    </div>

                    <div layout="row" class="pt10 pb10">
                        <md-button style="color: white;" class="no-text-transform no-shadow md-primary md-hue-2 md-raised mt0 mb0" layout="row" ng-click="::composePost($event)">
                            <span ng-hide="newPost.creating" class="absolute-animation">
                                        <my-icon icon="send" style="position: relative; top: -2px;"></my-icon>
                                        <span>Post</span>
                            </span>
                            <span ng-show="newPost.creating" class="absolute-animation">
                                            <md-progress-circular class="md-primary md-hue-3" md-mode="indeterminate" md-diameter="40px"></md-progress-circular>

                                        </span>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-card>
    </form>
</div>
