.ng-hide-remove {
    animation: fadeIn 0.2s;
}

.ng-hide-add {
    /*position: absolute;*/
    animation: fadeOut 0.3s;
}

.ng-hide-add.searchbar-anim,
.ng-hide-add.absolute-animation {
    position: absolute;
    animation: fadeOut 0.3s;
}

.category-modal-anim.ng-hide-remove {
    animation: fadeIn 0.3s;
}

.category-modal-anim.ng-hide-add {
    animation: fadeOut 0.3s;
}

.form-repeat-pass-anim.ng-hide-remove {
    position: relative;
    animation: fadeIn 0.5s;
}

.ng-enter[ui-view] {
    animation: fadeIn 0.4s;
}

.ng-leave[ui-view] {
    position: absolute;
}


/*.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}*/

.label-cats-anim.ng-enter {
    animation: fadeInDown 0.2s;
}
.label-cats-anim.ng-leave {
    animation: fadeOutUp 0.2s;
}
