<md-card-content class="p5">
    <div layout="column" layout-align="start top">
        <div ng-if="post.user_ref_activities.length" layout="column" layout-fill class="">
            <span class="layout-padding"><a class="pr0" ui-sref="web.app.dashboard.user({hash_id: post.user_ref.hash_id})">{{::post.user_ref.name}}</a>{{::interpretation}}</span>
            <md-divider class="mb10"></md-divider>
        </div>
        <div layout="row" flex layout-fill class="pt10">
            <div flex="10" flex-sm="15" flex-xs="15" class="square-img-container">
                <img class="img-circle square2" ng-src="{{::post.user.avatar || 'img/favicon.png'}}">
            </div>
            <div flex layout="column" class="ml15">
                <span class="md-body-1">
                <a ui-sref="web.app.dashboard.user({hash_id: post.user.hash_id})">{{::post.user.name || 'Anonymous'}}</a>
                </span>
                <div>
                    <span ng-if="post.user.profile.country" style="font-size: 10px;" class="label label-default md-caption">{{::post.user.profile.country}} {{::post.user.profile.state}}</span>
                </div>
                <span class="md-caption"><time am-time-ago="post.created_at"></time> </span>
                <div class="mb10" layout="row" layout-wrap>
                    <span ng-if="::post.anonymous" style="font-size: 10px;" class="label label-primary md-caption mr5 mb5">Anonymous</span>
                    <span ng-repeat="cat in post.categories" style="font-size: 10px;" class="label label-primary md-caption mr5 mb5">{{::cat.name}}</span>
                </div>
            </div>
            <div flex="10" layout="row" layout-align="end start">
                <md-menu md-position-mode="target-right target" class="no-p">
                    <md-button md-no-ink aria-label="Open Menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <my-icon md-menu-origin icon="chevron-down"></my-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button md-no-ink ng-click="shareToFb()">
                                <my-icon icon="facebook" style="color: #4E69A2"></my-icon>
                                Share to Facebook
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button md-no-ink ng-click="">
                                <my-icon icon="twitter" style="color: #55ACEE"></my-icon>
                                Share to Twitter
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button md-no-ink ng-click="toggleFavorite()">
                                <my-icon ng-style="post.favorited ? {'color': '#e67e22'} : {}" icon="{{post.favorited ? 'star' : 'star-outline' }} ">
                                </my-icon>
                                Add to favorites
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item ng-show="false">
                            <md-button md-no-ink ng-click="">
                                <my-icon icon="pencil" class="text-muted"></my-icon>
                                Edit post
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="(post.user.id == user.id)">
                            <md-button md-no-ink ng-click="deletePost()">
                                <my-icon icon="delete" class="text-muted"></my-icon>
                                Delete post
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="(post.user.user_id != user.user_id)">
                            <md-button md-no-ink ng-click="">
                                <my-icon icon="comment-alert-outline" class="text-muted"></my-icon>
                                Report post
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <div flex layout="column" layout-fill class="">
            <p ng-txt-truncate="::post.text" ng-bind-html="::post.text | colonToSmiley" ng-tt-words-threshold="30" ng-tt-more-label="Show" ng-tt-less-label="Hide" class="md-body-1 md-accent pl5"></p>
            <div ng-if="post.images.length" layout="row" layout-wrap layout-padding>
                <div class="square-img-container img-thumbnail" flex="33" flex-xs="50" ng-repeat="img in post.images">
                    <img ng-src="{{::img.url}}" alt="{{::img.url}}">
                </div>
            </div>
            <div layout="row" class="pl10" hide show-gt-xs>
                <p ng-if="post.prayer && post.amens_count" class="md-body-2 mb0 mt5 pr10">{{post.amens_count | socialCounter}} said Amen</p>
                <p ng-if="post.taps_count" class="md-body-2 mb0 mt5 pr10">{{post.taps_count | socialCounter}} Taps</p>
                <p ng-if="post.comments_count" class="md-body-2 mb0 mt5 pr10">{{post.comments_count | socialCounter}} Comments</p>
                <p ng-if="post.favorites_count" class="md-body-2 mb0 mt5 pr10">{{post.favorites_count | socialCounter}} Favorites</p>
            </div>
            <md-divider></md-divider>
            <md-divider></md-divider>
        </div>
        <div layout="row" class="pt10">
            <md-button ng-if="post.prayer" ng-disabled="post.amen" class="no-m" layout="row" layout-align="start center" ng-click="sayAmen($event)" ng-class="{'md-accent md-hue-2' : !post.amen,'md-primary md-hue-2' : post.amen}">
                <my-icon icon="telegram"></my-icon>
                <span hide show-gt-xs class="text-muted">Amen</span>
                <span class="badge">{{post.amens_count | socialCounter}}</span>
            </md-button>
            <md-button class="no-m" ng-class="{'md-accent md-hue-2' : !post.tapped_into,'md-primary' : post.tapped_into}" ng-click="toggleTap($event)">
                <my-icon icon="unfold-less "> </my-icon>
                <span hide show-gt-xs class="text-muted">tap into</span>
                <span class="badge">{{post.taps_count | socialCounter}}</span>
            </md-button>
            <md-button class="no-m md-accent md-hue-2 " ng-click="openCommentBox() ">
                <my-icon icon="comment-outline "></my-icon>
                <span hide show-gt-sm class="text-muted">comment</span>
                <span class="badge">{{post.comments_count | socialCounter }}</span>
            </md-button>
            <md-button class="no-m md-accent md-hue-2 " ng-click="shareToFb()">
                <my-icon icon="share"> </my-icon>
                <span hide show-gt-md>share</span>
            </md-button>
        </div>
    </div>
</md-card-content>
<div ng-show="showCommentBox ">
    <md-divider></md-divider>
    <md-content layout="column" layout-padding>
        <div layout="row" class="mb10">
            <textarea rows="2" ng-model="commentBox" class="form-control pb5" placeholder="Say something..." style="resize: none; overflow: hidden"></textarea>
            <md-button class="md-icon-button md-primary md-hue-2" aria-label="Send comment" ng-click="addComment($event)" md-no-ink>
                <my-icon icon="send"></my-icon>
            </md-button>
        </div>
        <div ng-repeat="comment in post.comments | orderBy: '-created_at' track by comment.id">
            <div layout="row" flex layout-fill class="">
                <div flex="10" flex-sm="15" class="square-img-container">
                    <img class="square2 img-circle " ng-src="{{::comment.user.avatar}}">
                </div>
                <div flex layout="column" class="ml15">
                    <div layout="row">
                        <span flex="90" class="" layout="column">
                            <a class="caption" 
                            ui-sref="user({hash_id: comment.user.hash_id})">{{::comment.user.name}}</a>
                            <span class="md-caption">
                                <time am-time-ago="::comment.created_at"></time> 
                            </span>
                        </span>
                        <div flex="10" layout="row" layout-align="end start">
                            <md-menu md-position-mode="target-right target" class="no-p">
                                <md-button md-no-ink aria-label="Open Menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                                    <my-icon md-menu-origin icon="chevron-down"></my-icon>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item ng-show="false">
                                        <md-button md-no-ink ng-click="">
                                            <my-icon icon="pencil" class="text-muted"></my-icon>
                                            Edit comment
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="(comment.user.id == user.id)">
                                        <md-button md-no-ink ng-click="deleteComment(comment.id)">
                                            <my-icon icon="delete" class="text-muted"></my-icon>
                                            Remove comment
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-show="(comment.user.id != user.id)">
                                        <md-button md-no-ink ng-click="">
                                            <my-icon icon="comment-alert-outline" class="text-muted"></my-icon>
                                            Report comment
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                    <div layout="row" style="display: inline">
                        <p class="md-body-1" ng-text-truncate="::comment.text" ng-tt-words-threshold="20" ng-tt-more-label="Show" ng-tt-less-label="Hide"></p>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
        <div class="pt10" ng-show="CommentsUI.loading" layout="row" layout-align="center center" style="height: 40px;">
            <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
        </div>
        <a href="" class="mt5 mb5">Show more comments</a>
    </md-content>
</div>
