<md-toolbar class="app-header md-primary md-whiteframe-z1" layout="row">
    <div ng-hide="ui.showSearch" class="md-toolbar-tools" layout="row">
        <div layout="row" flex="30" flex-sm="40" flex-xs="15">
            <div flex layout="row" layout-align="start center">
                <md-button class="md-icon-button no-m" aria-label="Settings" ng-click="ui.toggleNav('left')" hide-gt-sm>
                    <my-icon icon="menu" style="line-height: 0px">
                    </my-icon>
                </md-button>
                <div style="height: 35px; width: 30px" layout="column" class="mr10" hide show-gt-xs>
                    <a ui-sref="web.app.dashboard.home"><img class="" layout-fill src="img/small-logo.png" alt=""></a>
                </div>
                <div hide show-gt-sm layout="column">
                    <a ui-sref="web.app.dashboard.home"><h2>Testify</h2></a>
                    <span show-gt-md class="md-subhead">sharing God's goodness</span>
                </div>
            </div>
        </div>
        <div style="height: 100%" layout="row" flex="70" flex-sm="60" flex-xs="85">
            <span flex-gt-sm="15" flex="0"></span>
            <div layout="row" flex="35" flex-sm="60" flex-xs="60">
                <div layout="row" flex>
                    <div flex layout="row" layout-align="center center" style="position: relative;">
                        <div class="btn-parent flat">
                            <md-button class="no-m" aria-label="More " ng-click="redirect('web.app.dashboard.home')">
                                <my-icon icon="home">
                                </my-icon>
                            </md-button>
                        </div>
                    </div>
                    <div flex layout="row" ng-if="user.authenticated" layout-align="center center" style="position: relative;">
                        <div class="btn-parent flat">
                            <md-button class="no-m" aria-label="More " ng-click="redirect('web.app.login')">
                                <my-icon icon="email-outline">
                                </my-icon>
                            </md-button>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="center center" style="position: relative;">
                        <div class="btn-parent flat">
                            <md-button class="no-m" aria-label="search" ng-click="ui.toggleSearchBox()">
                                <my-icon icon="magnify">
                                </my-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <span flex-gt-sm="15" flex="0"></span>
            <div layout="row" flex="35" flex-sm="40" flex-xs="40">
                <div layout="row" flex>
                    <div flex layout="row" layout-align="end center" style="position: relative;">
                        <div hide-gt-md class="btn-parent flat">
                            <md-button class="no-m" aria-label="Right Sidenav" ng-click="ui.toggleNav('right')">
                                <my-icon icon="sort-variant">
                                </my-icon>
                            </md-button>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="end center" style="position: relative;">
                        <div class="btn-parent flat">
                            <md-menu class="no-p">
                                <md-button aria-label="Open Menu" ng-click="openMenu($mdOpenMenu, $event)">
                                    <my-icon md-menu-origin icon="dots-vertical"></my-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-show="user.authenticated">
                                        <md-button ng-click="">
                                            <my-icon class="text-muted" icon="settings"></my-icon>
                                            Preferences
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-hide="user.authenticated">
                                        <md-button ng-click="redirect('web.app.login')">
                                            <my-icon class="text-muted" icon="login"></my-icon>
                                            Login
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-show="user.authenticated">
                                        <md-button ng-click="logout()">
                                            <my-icon class="text-muted" icon="logout"></my-icon>
                                            Logout
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="ui.showSearch" class="md-toolbar-tools" layout="row" layout-align="center center">
        <div style="height: 100%" layout="row" flex="60" flex-sm="70" flex-xs="100">
            <div layout="row" flex="90" flex-xs="85">
                <div flex searchbox></div>
            </div>
            <div layout="row" flex="10" flex-xs="15">
                <div layout="row" flex>
                    <div flex layout="row" layout-align="center center" style="position: relative;">
                        <div class="btn-parent flat">
                            <md-button class="no-m" aria-label="Close search" ng-click="ui.toggleSearchBox()">
                                <my-icon icon="close">
                                </my-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</md-toolbar>
